{% extends "base.html" %}
{% load staticfiles %}

<body>
    {% block container %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">1</button>
                        <p>공동주택</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle-selected">2</button>
                        <p>자동보정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>요소설정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        <p>결과분석</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="row">
            <form action="." method="post"> {% csrf_token %}
                <h3>에너지 사용정보 입력</h3>
                <hr>
                <table id="cali-table" class="table">
                    <thead>
                        <tr>
                            <th>월 (Month)</th>
                            <th>전기에너지 (kWh)</th>
                            <th>가스에너지 (m3)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1월</td>
                            <td><input type="text" class="form-control" placeholder="1월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="1월 가스 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>2월</td>
                            <td><input type="text" class="form-control" placeholder="2월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="2월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>3월</td>
                            <td><input type="text" class="form-control" placeholder="3월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="3월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>4월</td>
                            <td><input type="text" class="form-control" placeholder="4월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="4월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>5월</td>
                            <td><input type="text" class="form-control" placeholder="5월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="5월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>6월</td>
                            <td><input type="text" class="form-control" placeholder="6월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="6월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>7월</td>
                            <td><input type="text" class="form-control" placeholder="7월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="7월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>8월</td>
                            <td><input type="text" class="form-control" placeholder="8월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="8월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>9월</td>
                            <td><input type="text" class="form-control" placeholder="9월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="9월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>10월</td>
                            <td><input type="text" class="form-control" placeholder="10월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="10월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>11월</td>
                            <td><input type="text" class="form-control" placeholder="11월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="11월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>12월</td>
                            <td><input type="text" class="form-control" placeholder="12월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" placeholder="12월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>TOTAL</strong></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <hr>
                <h3 data-toggle="collapse" data-target="#demo">전력 계약조건 입력  <span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div id="demo" class="collapse">메롱메</div>

                <hr>
                <h3 data-toggle="collapse" data-target="#demo">생애주기금액 및 이산화탄소 가정  <span class="glyphicon glyphicon-chevron-down"></span></h3>
                <hr>
            </form>
            <h3 data-toggle="collapse" data-target="#area-chart">결과  <span class="glyphicon glyphicon-chevron-down"></span></h3>
            <hr>
            <h3 class="text-primary text-center">자동보정 결과</h3>

            <div id="area-chart"></div>
        </div>

        <button type="button" class="btn btn-default">적용</button>
        <button type="button" class="btn btn-default">다음</button>

    </div>
    {% endblock %}
    <!-- /.container -->

</body>