{% extends "base.html" %}
{% load staticfiles %}


    {% block container %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">1</button>
                        <p>공동주택</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle-selected">2</button>
                        <p>자동보정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>요소설정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        <p>결과분석</p>
                    </div> 
                </div>
            </div>
        </div>

        <div class="row">
            <form action="/simulation/calibration/" method="post"> {% csrf_token %}
                <h3>에너지 사용정보 입력</h3>
                <hr>
                <table id="cali-table" class="table">
                    <thead>
                        <tr>
                            <th>월 (Month)</th>
                            <th>전기에너지 (kWh)</th>
                            <th>가스에너지 (m3)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1월</td>
                            <td><input type="text" class="form-control" name="elec_1" placeholder="1월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_1" placeholder="1월 가스 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>2월</td>
                            <td><input type="text" class="form-control" name="elec_2" placeholder="2월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_2" placeholder="2월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>3월</td>
                            <td><input type="text" class="form-control" name="elec_3" placeholder="3월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_3" placeholder="3월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>4월</td>
                            <td><input type="text" class="form-control" name="elec_4" placeholder="4월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_4" placeholder="4월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>5월</td>
                            <td><input type="text" class="form-control" name="elec_5" placeholder="5월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_5" placeholder="5월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>6월</td>
                            <td><input type="text" class="form-control" name="elec_6" placeholder="6월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_6" placeholder="6월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>7월</td>
                            <td><input type="text" class="form-control" name="elec_7" placeholder="7월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_7" placeholder="7월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>8월</td>
                            <td><input type="text" class="form-control" name="elec_8" placeholder="8월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_8" placeholder="8월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>9월</td>
                            <td><input type="text" class="form-control" name="elec_9" placeholder="9월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_9" placeholder="9월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>10월</td>
                            <td><input type="text" class="form-control" name="elec_10" placeholder="10월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_10" placeholder="10월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>11월</td>
                            <td><input type="text" class="form-control" name="elec_11" placeholder="11월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_11" placeholder="11월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                        <tr>
                            <td>12월</td>
                            <td><input type="text" class="form-control" name="elec_12" placeholder="12월 전기 에너지 사용량 입력" data-required="true"></td>
                            <td><input type="text" class="form-control" name="gas_12" placeholder="12월 전기 에너지 사용량 입력" data-required="true"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>TOTAL</strong></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <hr>
                <h3 data-toggle="collapse" data-target="#electricity_contract" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span>  전력 계약조건 설정</h3>
                <div id="electricity_contract">
                    <div class="card-block">
                        <div class="form-group form-group-sm">
                            <label>계약종별선택 - 누진세 적용 (2016. 12. 01 개정)</label>
                            <div>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> 주택용 (저압)
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> 주택용 (고압)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label>대가족 / 생명유지장치 할인요금</label>
                            <div>
                                <select class="selectpicker">
                                    <option>해당없음</option>
                                    <option>5인이상가구</option>
                                    <option>출산가구</option>
                                    <option>3자녀이상가구</option>
                                    <option>생명유지장치</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label>복지할인요금</label>
                            <div>
                                <select class="selectpicker">
                                    <option>해당없음</option>
                                    <option>독립유공자</option>
                                    <option>5.18민주유공자</option>
                                    <option>장애인</option>
                                    <option>사회복지시설</option>
                                    <option>기초생활(생계, 의료)</option>
                                    <option>기초생활(주거, 교육)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <h3 data-toggle="collapse" data-target="#"><span class="glyphicon glyphicon-chevron-down"></span>  생애주기금액 및 이산화탄소 가정</h3>
                <div class="row">
                    <div class="form-group form-group-sm">
                        <div class="col-sm-6">
                            <label>시작년도</label>
                            <input type="text" class="form-control" id="start_at" name="start_at" placeholder="2017" data-required="true">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <div class="col-sm-6">
                            <label>분석기간</label>
                            <input type="text" class="form-control" name="period" placeholder="40" data-required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group form-group-sm">
                            <label>이자</label>
                            <input type="text" class="form-control" name="interest_rate" placeholder="40" data-required="true">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group form-group-sm">
                            <label>전기</label>
                            <input type="text" class="form-control" name="elec_rate" placeholder="40" data-required="true">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group form-group-sm">
                            <label>가스</label>
                            <input type="text" class="form-control" name="gas_rate" placeholder="40" data-required="true">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group form-group-sm">
                            <label>온실가스</label>
                            <input type="text" class="form-control" name="green_rate" placeholder="40" data-required="true">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">적용</button>
                <button type="button" class="btn btn-default">다음</button>
                <hr>
            </form>
        </div>
    </div>
    {% endblock %}
    <!-- /.container -->
