{% extends "base.html" %}
{% load staticfiles %}

    {% block container %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">1</button>
                        <p>공동주택</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">2</button>
                        <p>자동보정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle-selected">3</button>
                        <p>요소설정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">4</button>
                        <p>결과분석</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <!-- Jumbotron Header Insulation-->
            <div class="jumbotron simulation">
                <div class="form-group">
                    <input type="text" name="insulation_type" placeholder="단열재 종류">
                </div>
                <div class="form-group">
                    <input type="text" name="insulation_thickness" placeholder="단열재 두께">
                </div>
                <div class="form-group">
                    <input type="text" name="insulation_conductivity" placeholder="단열재 열전도율">
                </div>
                <div class="form-group">
                    <input type="text" name="window_conductivity" placeholder="단열재 밀도">
                </div>
                <div class="form-group">
                    <input type="text" name="window_conductivity" placeholder="단열재 열용량">
                </div>
                <a class="btn btn-default btn-lg" data-toggle="modal" data-target="#insualtion_modal">단열재 정보 선택</a>
            </div>
        </div>

        <div class="row">
            <!-- Jumbotron Header Insulation-->
            <div class="jumbotron simulation">
                <div class="form-group">
                    <input type="text" name="window_type" placeholder="창호 종류">
                </div>
                <div class="form-group">
                    <input type="text" name="window_thickness" placeholder="열관류율">
                </div>
                <div class="form-group">
                    <input type="text" name="window_conductivity" placeholder="일사 획득율">
                </div>
                <div class="form-group">
                    <input type="text" name="window_conductivity" placeholder="가시광선 투과율">
                </div>
                <a class="btn btn-default btn-lg" data-toggle="modal" data-target="#window_modal">창호 정보 선택</a>
            </div>
        </div>
    </div>

    <!--Insulation Modal-->
    <div class="modal fade" id="insualtion_modal" tabindex="-1" role="dialog" aria-labelledby="insulation_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insulation_label">단열재 종류</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="insulation-name" class="form-control-label">단열재 다중 추가</label>
                            <div class="row">
                                <select id="insulation-name">
                                    <option>압출법 보온판 (특호)</option>
                                    <option>압출법 보온판 (1호)</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="insulation-location" class="form-control-label">위치</label>
                            <div class="row">
                                <select id="insulation-location">
                                    <option>외벽</option>
                                    <option>측벽</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="insulation-thickness" class="form-control-label">두께</label>
                            <div class="row">
                                <select id="insulation-thickness">
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                    <option>25</option>
                                    <option>30</option>
                                    <option>35</option>
                                    <option>40</option>
                                    <option>45</option>
                                    <option>50</option>
                                    <option>55</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">추가</button>
                        <button type="button" class="btn btn-primary">삭제</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!--Window Modal-->
    <div class="modal fade" id="window_modal" tabindex="-1" role="dialog" aria-labelledby="window_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="window_label">단열재 종류</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">저장</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    <!-- /.container -->

    {% block js %}

        <script src="{% static 'assets/js/simulator.js' %}"></script>

    {% endblock %}