{% extends "base.html" %}
{% load staticfiles %}

    {% block container %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">1</button>
                        <p>공동주택</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">2</button>
                        <p>자동보정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle-selected">3</button>
                        <p>요소설정</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle">4</button>
                        <p>결과분석</p>
                    </div> 
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <!-- Jumbotron Header Insulation-->
            <div class="jumbotron simulation">
                <div class="form-group">
                    <input type="text" name="insulation_type" placeholder="단열 종류">
                </div>
                <div class="form-group">
                    <input type="text" name="insulation_thickness" placeholder="단열재 두께">
                </div>
                <div class="form-group">
                    <input type="text" name="insulation_conductivity" placeholder="단열재 열전도율">
                </div>
                <a class="btn btn-default btn-lg" role="button">단열재 선택</a>
            </div>

            <!-- Jumbotron Header Window-->
            <div class="jumbotron hero-spacer">
                <div class="form-group">
                    <input type="text" id="jibunAddress" placeholder="단열 위치">
                </div>
                <div class="form-group">
                    <input type="text" id="postcode" placeholder="단열재 종류">
                </div>
                <div class="form-group">
                    <input type="text" id="roadAddress" placeholder="단열재 두께">
                </div>
                <a class="btn btn-default btn-lg" role="button" onclick="DaumPostcode()">단열재 선택</a>
            </div>

            <!-- Jumbotron Header Lighting-->
            <div class="jumbotron hero-spacer">
                <div class="form-group">
                    <input type="text" id="jibunAddress" placeholder="단열 위치">
                </div>
                <div class="form-group">
                    <input type="text" id="postcode" placeholder="단열재 종류">
                </div>
                <div class="form-group">
                    <input type="text" id="roadAddress" placeholder="단열재 두께">
                </div>
                <a class="btn btn-default btn-lg" role="button" onclick="DaumPostcode()">단열재 선택</a>
            </div>

            <!-- Jumbotron Header Shading Device-->
            <div class="jumbotron hero-spacer">
                <div class="form-group">
                    <input type="text" id="jibunAddress" placeholder="단열 위치">
                </div>
                <div class="form-group">
                    <input type="text" id="postcode" placeholder="단열재 종류">
                </div>
                <div class="form-group">
                    <input type="text" id="roadAddress" placeholder="단열재 두께">
                </div>
                <a class="btn btn-default btn-lg" role="button" onclick="DaumPostcode()">단열재 선택</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- /.container -->