{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% block html_language_code %}en{% endblock %}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}그린월드 | 시뮬레이션{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/step-wizard.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Green World
                </a>
            </div>
            {% if user.is_active %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">게시판</a>
                    </li>
                    <li>
                        <a href="#">마이페이지</a>
                    </li>
                    <li>
                        <a href="/accounts/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">게시판</a>
                    </li>
                    <li>
                        <a href="/accounts/register">회원가입</a>
                    </li>
                    <li>
                        <a href="/accounts/login">로그인</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block container %}

    {% endblock %}
    <!-- /.container -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">기다립니다</h2>
                    <hr class="primary">
                    <p>항상 당신의 소중한 의견을 기다리고 있습니다.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+82-10-8921-4701</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">ddkddk35@yonsei.ac.kr</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Daum API -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>
