{% extends "registration/base/registration_base.html" %}
{% load staticfiles %}

    {% block container %}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><a href="/"><strong>GreenWorld</strong></a> Login</h1>
                    </div>
                </div>
                <div class="row">
                    <h3>회원가입을 축하드립니다.</h3>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}