{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>그린월드 | 회원가입</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/accounts.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><a href="/"><strong>GreenWorld</strong></a> Registration</h1>
                        </div>
                    </div>
                    {% if user.is_active %}
                        <div class="row">
                            <h3>이미 로그인 되어 있습니다.</h3>
                            <button type="submit" class="btn">로그아웃 하기</button>
                        </div>
                    {% else %}
                        <div class="row">
                    	   <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>회원가입 하기</h3>
                                        <p>정보를 입력해 주세요.</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="registration-form"> {% csrf_token %}
                                    {% if form.errors %}
                                    <p class="errornote"> 페이지에 문제가 있습니다.</p>
                                    {% endif %}
                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Email</label>
                                            {{ form.username }}
                                            <!--<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">-->
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="sr-only" for="form-password">Password</label>
                                            {{ form.password1 }}
                                            <!--<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">-->
                                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-password">Password</label>
                                            {{ form.password2 }}
                                            <!--<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">-->
                                        </div>

                                        <button type="submit" class="btn">가입하기</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>  
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p><strong>그린월드</strong>는 당신의 의견을 기다립니다.</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>